@{
    ViewData["Title"] = "Home Page";
}

<div class="jumbotron">
    <h1>MCF</h1>
</div>
<div class="row">
    <div class="col-md-4">
        <h2>Welcome to MCF</h2>
        <p>
            .NET 6 MVC + WEB API For Adding New BPKP
        </p>
    </div>
</div>